includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 4
#    reportUnmatchedIgnoredErrors: false
#    ignoreErrors:
#        - '$messageBus is never read, only written' # not straight forward, perhaps it is not counting with trait logic with readonly
#        - '#Property .*?\\$messageBus is never read, only written#'
